
.DS_Store
__pycache__
venv
flagged
config.json
resources/timeline_config.json
tmp
checkpoints
.local_version
favicon.ico
resources/download/*
!resources/download/.gitkeep
resources/assets/*
!resources/assets/.gitkeep
